<div id="ghapidata" class="clearfix"></div>

<div ng-show="userNotFound">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<h2><i class="fa fa-warning"></i>&nbsp;&nbsp;No User Found</h2>
		</div>
	</div>
</div>

<div ng-show="loaded">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<h2>{{ user.name }}</h2>
		  <h3><a class="link-silent" href="{{ user.html_url }}" target="_blank">@{{ user.login }}</a></h3>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-5 col-xs-12 space-three-bottom">
		  <div class="ghcontent">
        <a href="{{ user.html_url }}" target="_blank">
        	<img src="{{ user.avatar_url }}" width="80" height="80" alt="{{ user.login }}">
        </a>
	     Followers: {{ user.followers }} - Following: {{ user.following }}<br>Repos: {{ user.public_repos }}</p>
	  </div>
		</div>
		<div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
			<div class="repolist clearfix">
		     <p ng-hide="reposFound">No repositories!</p>
		     <div ng-show="reposFound">
		        <p><strong>Repositories:</strong></p>
		        <ul ng-repeat="repo in repos">
		           <li><a href="{{repo.html_url}}" target="_blank"> {{repo.name}} </a></li>
		        </ul>
		     </div>
		  </div>
		</div>
	</div>
</div>